<section id="pins">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="card-columns">
          <% @pins.each do |pin| %>
            <%= link_to pin_path(pin), style: "text-decoration: none;" do %>
              <div class="card">
                <%= image_tag pin.image, class: "card-img-top" %>
                <div class="card-body text-center">
                  <h5 class="card-title text-dark"><%= pin.title %></h5>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</section>
